@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Catamaran-Regular";
  src: url("~/assets/font/Catamaran-Regular.ttf");
}

body {
  @apply text-gray-700;
  background: #f6f9ff;
  font-family: "Catamaran-Regular";
  font-size: 16px;
  line-height: 1.5rem;
  cursor: default;
}
.dark-mode body {
  // @apply text-white;
  background-color: #091a28;
}
::-webkit-scrollbar {
  display: none !important;
}
.scroll {
  -ms-overflow-style: none !important; /* for Internet Explorer, Edge */
  scrollbar-width: none !important;
  overflow-x: scroll !important;
}
.scroll::-webkit-scrollbar {
  display: none !important; /* for Chrome, Safari, and Opera */
}

.center {
  @apply flex justify-center items-center;
}
.hero {
  @apply xl:object-none xl:h-[500px] xl:rounded-lg;
}

input,
textarea,
button,
select,
a,
.switch__checkbox,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
